@model InputUpdateMusicGenre
@{
    ViewData["Title"] = "Edição de Gênero Musical";
}

<div class="container mt-5">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="d-flex justify-content-between align-items-center mb-4">
        <a class="btn btn-info d-flex align-items-center btn-icon" asp-action="Index" asp-controller="MusicGenre">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h4 class="mb-2 text-center flex-grow-1">Edição de Gênero Musical</h4>
        <button type="submit" form="musicGenreForm" class="btn btn-primary d-flex align-items-center btn-icon">
            <i class="fas fa-save"></i>
        </button>
    </div>

    <form id="musicGenreForm" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@ViewBag.Id" />

        <div class="form-group mb-2">
            <label asp-for="Description">Descrição</label>
            <textarea asp-for="Description" class="form-control" maxlength="300" placeholder="Biografia do artista" rows="4" required>@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </form>
</div>