@page "/CreateMusic"
@using ScreenMusic.Arguments
@inject ArtistServiceClient artistServiceClient
@inject MusicGenreServiceClient musicGenreServiceClient
@inject MusicServiceClient musicServiceClient
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro de Música</MudText>

    <ErrorAlert ErrorMessage="@errorMessage" />

    <MudForm>
        <MudTextField Class="mt-4" T="string" Placeholder="Nome da música/canção" @bind-Value="name" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />
        <MudTextField Class="mt-4" T="string" Placeholder="Link do Youtube" @bind-Value="youtubeLink" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />

        <div class="d-flex justify-content-between align-items-center mt-4">
            <MudSelect Class="mr-2" T="OutputArtist" Label="Artistas" Variant="Variant.Outlined" @bind-Value="OutputArtist">
                @if (ListOutputArtist is not null)
                    @foreach (var artist in ListOutputArtist)
                    {
                        <MudSelectItem Value="artist">@artist.Name</MudSelectItem>
                    }
            </MudSelect>

            <MudNumericField Class="mr-2" T="int" Placeholder="Ano de lançamento" @bind-Value="releaseYear" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />

            <MudSelect Class="ml-2" T="OutputMusicGenre" Label="Gêneros" Variant="Variant.Outlined" @bind-Value="OutputMusicGenre">
                @if (ListOutputMusicGenre is not null)
                    @foreach (var musicGenre in ListOutputMusicGenre)
                    {
                        <MudSelectItem Value="musicGenre">@musicGenre.Name</MudSelectItem>
                    }
            </MudSelect>
        </div>

        <div class="d-flex justify-space-between align-center mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Info" @onclick="Return">Voltar</MudButton>
            <div>
                <MudButton Variant="Variant.Filled" @onclick="Create" Color="Color.Primary" Class="ml-auto">Cadastrar</MudButton>
            </div>
        </div>
    </MudForm>

</MudPaper>

@code {
    private int releaseYear;
    private string? youtubeLink;
    private string? name;
    private string? errorMessage;

    private ICollection<OutputArtist>? ListOutputArtist;
    private ICollection<OutputMusicGenre>? ListOutputMusicGenre;

    private OutputArtist? OutputArtist { get; set; }
    private OutputMusicGenre? OutputMusicGenre { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseListArtist = await artistServiceClient.GetAll();
        var responseListMusicGenre = await musicGenreServiceClient.GetAll();

        if (responseListArtist.Success)
            ListOutputArtist = responseListArtist.Data?.OrderBy(x => x.Name).ToList();
        else
            errorMessage = responseListArtist.ErrorMessage ?? "Erro ao carregar combo de artistas.";

        if (responseListMusicGenre.Success)
            ListOutputMusicGenre = responseListMusicGenre.Data?.OrderBy(x => x.Name).ToList();
        else
            errorMessage = responseListMusicGenre.ErrorMessage ?? "Erro ao carregar combo de gêneros musicais.";

    }

    public async Task Create()
    {
        if (OutputArtist != null && OutputMusicGenre != null)
        {
            var inputCreateMusic = new InputCreateMusic(name!, releaseYear, OutputArtist.Id, OutputMusicGenre.Id, youtubeLink!);
            var response = await musicServiceClient.Create(inputCreateMusic);

            if (response.Success)
                navigationManager.NavigateTo("/Music");
            else
                errorMessage = response.ErrorMessage ?? "Erro ao criar música.";
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Music");
    }
}