@page "/UpdateMusic/{Name}"
@using ScreenMusic.Arguments
@inject ArtistServiceClient artistServiceClient
@inject MusicGenreServiceClient musicGenreServiceClient
@inject MusicServiceClient musicServiceClient
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Edição de Música</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome da música/canção" @bind-Value="name" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />
        <MudTextField Class="mt-4" T="string" Placeholder="Link do Youtube" @bind-Value="youtubeLink" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />

        <div class="d-flex justify-content-between align-items-center mt-4">
            <MudSelect Class="mr-2" T="OutputArtist" Label="Artistas" Variant="Variant.Outlined" @bind-Value="Artist" ToStringFunc="GetArtistName">
                @if (ListArtist is not null)
                {
                    @foreach (var artist in ListArtist)
                    {
                        <MudSelectItem Value="artist">@artist.Name</MudSelectItem>
                    }
                }
            </MudSelect>

            <MudNumericField Class="mr-2" T="int" Placeholder="Ano de lançamento" @bind-Value="releaseYear" Variant="Variant.Outlined" Required="true" RequiredError="Campo obrigatório." />

            <MudSelect Class="ml-2" T="OutputMusicGenre" Label="Gênero" Variant="Variant.Outlined" @bind-Value="MusicGenre" ToStringFunc="GetMusicGenreName">
                @if (ListMusicGenre is not null)
                {
                    @foreach (var musicGenre in ListMusicGenre)
                    {
                        <MudSelectItem Value="musicGenre">@musicGenre.Name</MudSelectItem>
                    }
                }
            </MudSelect>
        </div>

        <div class="d-flex justify-space-between align-center mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Info" @onclick="Return">Voltar</MudButton>
            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="ml-3" @onclick="Delete">Deletar</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-3" @onclick="Update">Salvar</MudButton>
            </div>
        </div>

    </MudForm>

</MudPaper>

@code {
    private int releaseYear;
    private string? youtubeLink;
    private string? name;
    private OutputMusicGenre? MusicGenre { get; set; }
    private OutputArtist? Artist { get; set; }
    public OutputMusic? Music { get; set; }
    private ICollection<OutputArtist>? ListArtist;
    private ICollection<OutputMusicGenre>? ListMusicGenre;

    [Parameter]
    public string? Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Music = await musicServiceClient.GetByIdentifier(new InputIdentifierMusic(Name!));
        releaseYear = Music!.ReleaseYear;
        name = Music.Name!;
        Artist = await artistServiceClient.GetById(Music.ArtistId);
        MusicGenre = await musicGenreServiceClient.GetById(Music.MusicGenreId);
        ListArtist = await artistServiceClient.GetAll();
        ListMusicGenre = await musicGenreServiceClient.GetAll();
    }

    private async Task Update()
    {
        if (Artist != null && MusicGenre != null)
        {
            var requestEdit = new InputUpdateMusic(name!, releaseYear, Artist.Id, MusicGenre.Id, youtubeLink!);
            await musicServiceClient.Update(Music!.Id, requestEdit);
            navigationManager.NavigateTo("/Music");
        }
    }

    public async Task Delete()
    {
        await musicServiceClient.Delete(Music!.Id);
        navigationManager.NavigateTo("/Music");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Music");
    }

    private string GetArtistName(OutputArtist artist) => artist.Name!;
    private string GetMusicGenreName(OutputMusicGenre musicGenre) => musicGenre.Name!;
}