/.vs
/ScreenMusic.Api/wwwwroot
/ScreenMusic.Api/bin
/ScreenMusic.Api/obj
/ScreenMusic.Arguments/bin
/ScreenMusic.Arguments/obj
/ScreenMusic.Domain/bin
/ScreenMusic.Domain/obj
/ScreenMusic.Infraestructure/bin
/ScreenMusic.Infraestructure/obj
/ScreenMusic.Web/bin
/ScreenMusic.Web/obj
/ScreenMusic.WebMvc/bin
/ScreenMusic.WebMvc/obj