@using ScreenMusic.Arguments
@model InputUpdateArtist
@{
    ViewData["Title"] = "Edição de Artista";
}

<div class="container mt-5">
    <h4 class="mb-4 text-center">Edição de Artista</h4>

    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@ViewData["Id"]" />

        <div class="form-group">
            <label asp-for="Biography"></label>
            <textarea asp-for="Biography" class="form-control" placeholder="Biografia do artista" rows="4" required>@Model.Biography</textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="profilePhotoFile">Foto de Perfil Atual</label>
            <div>
                <img id="profilePhotoPreview" src="@(Model.ProfilePhoto != null ? $"https://localhost:7089/{Model.ProfilePhoto}" : "images/cardArtista.png")" class="img-thumbnail" style="max-width: 200px;" />
            </div>
        </div>

        <div class="form-group">
            <label for="newProfilePhotoFile">Nova Foto de Perfil (opcional)</label>
            <input type="file" class="form-control-file" id="newProfilePhotoFile" name="newProfilePhotoFile" accept=".jpeg,.jpg,.png" onchange="previewImage(event)" />
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="d-flex justify-content-between align-items-center mt-4">
            <a class="btn btn-info" asp-action="Index" asp-controller="Artist">Voltar</a>
            <button type="submit" class="btn btn-primary ml-auto">Salvar</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('profilePhotoPreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>